html,
body,
h1,
h2,
div {
	padding: 0;
	margin: 0;
}

html,
body {
	width: 500px;
}

body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

main {
	flex: 1;
}

@media screen and (max-height: 100vh) {
	body {
		flex-direction: column;
	}

	main {
		flex-grow: 1;
	}
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-style: italic;
}

textarea {
	width: 95%;
	height: 200px;
	display: block;
	margin: auto;
}

.scrollmenu {
	display: table;
}

.scrollmenu a {
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	display: table-cell;
}

.scrollmenu a:hover {
	color: #005691;
}

.template {
	font-size: 13px;
}

table,
th,
td {
	border: 1px solid;
}

table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	width: 100%;
}

table thead tr {
	background-color: #2da1e4;
	text-align: left;
}

table th,
table td {
	padding: 12px 15px;
	border-color: #2da1e4;
}

.leftborder {
	float: left;
	height: 500px;
	position: fixed;
	left: 0;
}

.search_div {
	display: flex;
	justify-content: space-evenly;
	margin-left: 1em;
	margin-right: 1em;
}

header,
main,
footer {
	padding-left: 6%;
	padding-right: 4%;
}

footer {
	display: flex;
	justify-content: space-between;
}

footer img {
	height: auto;
	margin: auto;
}

button {
	border: none;
	color: white;
	background-color: #2da1e4;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.menuItem {
	cursor: pointer;
}

.selected {
	background-color: #2da1e4;
}