html, body, h1, h2 {
	padding: 0;
	margin: 0;
}

html {
	overflow-y: scroll;
}

body {
  	border: 4px solid #845A6D;
	width: 600px;
}

h1 {
  	text-align: center;
}

h2 {
	text-align: center;
  	font-style: italic;
}

textarea {
	width: 95%;
	height: 200px;
	display: block;
	margin: auto;
}